VITE_SUPABASE_URL=https://jobgzxljuczzqljwavyq.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_rDBySczYcgWx7TT9NbNNLg_jdWRctAZ
VITE_VAPID_PUBLIC_KEY=BO7k1pZN91uHZZ2WejJf7uWti8kX8eNKL5w_P3hZ7nsckCqzs4yQma6jA2Sj6UylU45ZxmAYdNBJe1NzZmJom3Q
